.main-notfound {
    height: 100vh;
    margin: auto;
    background-color: #1e251f;
}

.box-notfound {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-notfound h1 {
    color: var(--white);
}


.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: #1e251f;
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}